.content-without {
    
    &__title{
        font-size: 3rem
        margin: 0 auto 5px
        line-height: 1.2

        +below('mobile'){
            font-size: 2.2rem
            margin-bottom: 20px
        }
    }

    &__subtitle{
        font-size: 1.6rem
        margin: 0 auto 50px
        line-height: 1.4
    }
}