$blue             = #6297CA;
$lightBlue        = #96aac9;
$red              = #FF7D70;
$projetotesteGreenDark  = #4E7B3C;
$projetotesteGreen      = #71C043;
$projetotesteBrown      = #493C33;
$darkOrange       = #D68500;
$darkPurple       = #58167D;
$lightPurple      = #8946A5;

$gray0 = #262626;
$gray1 = #3C3C3B;
$gray2 = #777777;
$gray3 = #DADADA;
$gray4 = #ededed;